{% extends 'base.html' %}

{% block body %}
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Twoje konto jest już aktywne.
            </div>
            <div style="padding-top:30px" class="panel-body">
                Sukces! Twoje konto w "Hylak - auto serwis" zostało aktywowane.
            </div>
        </div>
    </div>
</div>
{% endblock %}
