{% load staticfiles %}
<html>
    <head>
        <title>Hylak - auto serwis</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Manuale&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link href='http://fonts.googleapis.com/css?family=Marcellus&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Hylak - auto serwis</a></h1>

            <div class="sub-menu">
                <a href="{% url 'offer' %}" class="sub-menu-item"> Oferta </a>
                <a href="{% url 'post_list' %}" class="sub-menu-item"> Rezerwacja </a>
                <a href="{% url 'post_list' %}" class="sub-menu-item"> Kontakt </a>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>